extends layout

block content
  nav
    ul
      li
        a(href='quisommesnous.jade') Qui sommes nous?
      li.titre
        a(href='index.jade') The Lord of the Tweets
      li
        a(href='nosprojets.jade') Nos projets
    .corpsindex
      | Nous contacter

  footer
     Tous droits réservés.
