extends layout

block content
	nav
		ul
			li
				a(href='quisommesnous') Qui sommes nous?
			li.titre
				a.titre(href='/') The Lord of the Tweets
			li
				a(href='nosprojets') Nos projets
		
		p.liindex2 Pour nous contacter utilisez la Palentir que nous vendons pour la modique somme de 999 € (La garantie de la Palentir n'est pas disponible dans votre pays).

	footer
		| Page de contact pour LOTT
