extends layout

block content
	.navBar
		.container
				nav
					a.titrePage.h1(href='/') The Lord of the Tweets
					|         
					.alignGauche
						a.navBarItem(href='/') Accueil
						|           
						a.navBarItem(href='#') Profil
						|           
						a.navBarItem(href='inscription') S'enregistrer / s'inscrire
		
	p Pour nous contacter utilisez la Palentir que nous vendons pour la modique somme de 999 € (La garantie de la Palentir n'est pas disponible dans votre pays).

	footer
		| Page de contact pour LOTT
