extends layout

block content
	nav
		ul
			li
				a(href='quisommesnous') Qui sommes nous?
			li.titre
				a(href='/') The Lord of the Tweets
			li
				a(href='nosprojets') Nos projets
		.corpsindex
			| Nous contacter

	footer
		| Ceci est un bas de page.
