doctype html(lang='fr', xml:lang='fr')
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')   
		meta(name='viewport', content='width=device-width, initial-scale=1') 
		link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')  
		link(href='/stylesheets/styleContact.css', rel='stylesheet')   
		title= title

block content
	.navBar
		.container
				nav
					a.titrePage.h1(href='/') The Lord of the Tweets
					|         
					.alignGauche
						a.navBarItem(href='/') Accueil
						|           
						a.navBarItem(href='inscription') S'enregistrer / s'inscrire
		
	p.acceuil Bonjour noble seigneur, ici vous trouverez moultes informations sur nous, createurs de 
		em.acceuilTitre The Lord Of The Tweets.
	
	div.informationsBloc
		p.titreInfo Qui sommes-nous ?
		p.espacement Bonjour à tous ! Nous nous prénommons GENET Martin
		p.espacement et GROSSHENNY Guillaume. Nous sommes actuellement
		p.espacement étudiants en Cursus Master Ingenierie (ou CMI pour les
		p.espacement intimes) en Informatique, Imagerie, Realité Virtuelle,
		p.espacement Interaction et Jeux à l'université de Strasbourg.
		p.espacement Vous l'aurez donc compris, nous sommes passionnés par
		p.espacement l'informatique, la programmation, et aux vues du thème
		p.espacement de notre site par toute la culture qui tourne autour et qui
		p.espacement fait de nous de vrais geeks.
		p 
		p.espacement Si vous voulez nous contacter pour nous poser une ou
		p.espacement plusieurs question(s), voici nos e-mails:
		p.espacement Martin : 
			em.email martin.genet@etu.unistra.fr
		p.espacement Guillaume: 
			em.email grosshenny.guillaume@etu.unistra.fr
	div.informationsBloc2
		p.titreInfo Notre projet
		p.espacement Ce site découle d'un projet de premiere année de
		p.espacement licence, nous avons du recréer une sorte de 
		p.espacement tweeter (en moins perfectionné bien sûr). Nous
		p.espacement avons donc choisis de le faire sur le thème du
		p.espacement Seigneur des anneaux, pour apporter une touche
		p.espacement d'humour, mais aussi parce que Gandalf nous a
		p.espacement fait de l'oeil ce petit coquin.
		p.espacement Nous éspérons donc que vous vous balancerez 
		p.espacement des tweets à  grand coups de "YOU SHALL NOT
		p.espacement PASS !" avec bonne humeur et votre grande
		p.espacement barbe blanche bien soyeuse et brossée avec
		p.espacement le plus grand soin. Nous mettrons les tweets
		p.espacement et le login à jour prochainement.
	div.citation
		p "Je ne connais pas la moitie d'entre vous à moitie autant que je le voudrais, et j'aime moins que la moitie d'entre vous à moitie aussi bien que vous le meritez." ~ Bilbo
	

	footer
		a.contactBasLien(href='contact') Contact 
		| ~ Don't forget to play
