extends layout

block content
	.row
		.col-md-12
			.navBar
				.container
						nav
							a.titrePage.h1(href='/') YOU SHALL NOT PASS !
							|         
							.alignGauche
								a.navBarItem.active(href='/') Accueil
								|           
								a.navBarItem(href='inscription') S'enregistrer / s'inscrire

			
			.err 
				err Do you not know 404 when you see it ?
			pre #{error.stack}
