extends layout

block content
	.row
		.col-md-12
			.navBar
				.container
					nav
						a.titrePage.h1(href='/') The Lord of the Tweets
						|         
						.alignGauche
							a.navBarItem.active(href='/') Accueil
							|           
							a.navBarItem(href='inscription') S'enregistrer / s'inscrire
						
			.container
				.row
					form(accept-charset='UTF-8', action='', method='POST')
						.caseTweet
							.span4.well(style='padding-bottom:0')
								ul
									input(type='text', name='user', placeholder='Entrez votre nom.', rows='4')
								ul
									textarea(name='tweet', placeholder='Tweetez ici noble seigneur.', rows='3')
								|                            
								button.btn.btn-info(type='submit') Nouveau Tweet


					ul
						- for (var i = 0; i < tweets.length; ++i) {
							- var us=utilisateurs[i];
							- var tw=tweets[i];
								.box
									.new
										new= us 
											|  a tweeté :
									t
										li.post= tw
						- }
			
			.end
				trace ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	footer
		a.contactBasLien(href='contact') Contact 
		| ~ Don't forget to play

