extends layout

block content
  h1= title
  welcome Welcome to the kingdom of #{title}
	.titreindex
		.titreindex2
			a.titre(href='index.jade')  title
	
	nav
		.corpsindex
			ol.liindex2
				li
					a s'inscrire
				li
					a
				li
					a
				li
					a s'enregistrer
