extends layout

block content

	.titreindex
		a.titre(href='index.jade')=  title
	
	nav
		.corpsindex
			ol.liindex2
				li
					a(href='inscription.jade') s'inscrire
				li
					a
				li
					a
				li
					a(href='login.jade') s'enregistrer

	footer
		a.contactbas(href='contact.jade') Contact 
		| ~ Don't forget to play
