extends layout

block content

	.titreindex
		a.titre(href='/')=  title
	
	nav
		.corpsindex
			ol.liindex2
				li
					a(href='/inscription') S'inscrire
				li
					a
				li
					a
				li
					a(href='/login') Se connecter

	form(action='/', method='POST')
		textarea(name="tweet", rows=3, columns=50)
		input(type='submit', content='Sends')

	ul
		- each tweet in tweets
			li.liindex2= tweet

	footer
		a.contactbas(href='/contact') Contact 
		| ~ Don't forget to play
