doctype html(lang='fr', xml:lang='fr')
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')   
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
		link(href='/stylesheets/styleInscription.css', rel='stylesheet')
		link(href='/fr/docs/bootstrap/examples/signin/../../dist/css/bootstrap.min.css', rel='stylesheet')   
		title= title

	body
		.navBar
			.container
					nav
						a.titrePage.h1(href='/') The Lord of the Tweets
						|         
						.alignGauche
							a.navBarItem(href='/') Accueil
							|                     
							a.navBarItem.active(href='inscription') S'enregistrer / s'inscrire

		p.acceuil Bonjour noble seigneur et bienvenue dans le royaume de Lord Of The Tweets ! Veuillez vous enregistrer pour que tous les habitants de la Comté au Mordor en passant par la Moria puissent vous reconnaître.    

		form(accept-charset='UTF-8' action='/inscription' method='post')
			.caseEnregistrement
				.couleurCase.span4.well(style='padding-bottom:0')
					div
						label.titreCase Username:
						.elemCase
							input(type='text' id='username' name='username' placeholder='Entrez votre pseudo ici.')
					div
						label.titreCase Password:
						.elemCase
							input(type='password' id='password' name='password' placeholder='Entrez votre mot de passe ici.')
					div
						.elemCase
							button(type='submit') Submit

		footer
			a.contactBasLien(href='contact') Contact 
			| ~ Don't forget to play

