extends layout

block content
	.navBar
		.container
				nav
					a.titrePage.h1(href='/')  The Lord of the Tweets
					|         
					.alignGauche
						a.navBarItem(href='/') Accueil
						|           
						a.navBarItem.active(href='profil') Profil
						|           
						a.navBarItem(href='inscription') S'enregistrer / s'inscrire
				
	footer
		a.contactBasLien(href='contact') Contact 
		| ~ Don't forget to play
